<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="col-12 cardEstacao">
    <div class="card">
      <div class="card-header">
        <h6>Dados da Estação</h6>
      </div>
      <div class="card-body">
        <div>
          <h6 class="modal-title" id="TitleEstacao">
            Estação
          </h6>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="ccmonth">Tipo</label>
            <select class="form-control" id="ccmonth">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Nome</label>
              <input name="nome" [ngModel] type="text" class="form-control" id="name" placeholder="Nome da estação">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="id">Id</label>
              <input name="id" [ngModel] type="text" class="form-control" id="id" placeholder="Id">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div>
          <h6 class="modal-title" id="TitleOperacao">
            Operação
          </h6>
        </div>
        <div ngModelGroup="operador">
          <div ngModelGroup="operador1" class="row form-group">
            <div class="col-sm-4">
              <label for="name">Nome</label>
              <input name="nome" [ngModel] type="text" class="form-control" id="name" placeholder="Nome do operador">
            </div>
            <div ngModelGroup="fone" class="row">
              <div ngModelGroup="fone1" class="col-sm-5">
                <label for="fone">Fone</label>
                <input name="fone" [ngModel] type="text" class="form-control" id="fone" placeholder="fone">
              </div>
              <div ngModelGroup="fone2" class="col-sm-5">
                <label for="fone">Fone</label>
                <input name="fone" [ngModel] type="text" class="form-control" id="fone" placeholder="fone">
              </div>
            </div>
          </div>
        </div>
        <!--/.row supervisor-->
        <div>
          <h6 class="modal-title" id="TitleSupervisor">
            Supervisão
          </h6>
        </div>
        <div ngModelGroup="supervisor" class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input name="nome" [ngModel] type="text" class="form-control" id="nome" placeholder="Nome da estação">
            </div>
          </div>
          <div ngModelGroup="fone" class="col-sm-4">
            <div ngModelGroup="fone1" class="form-group">
              <label for="fone">Fone</label>
              <input name="fone" [ngModel] type="text" class="form-control" id="fone" placeholder="fone">
            </div>
            <div ngModelGroup="fone2" class="form-group">
                <label for="fone">Fone</label>
                <input name="fone" [ngModel] type="text" class="form-control" id="fone" placeholder="fone">
              </div>
          </div>
        </div>
        <!--/.row enel-->
        <div>
          <h6 class="modal-title" id="TitleEnel">
            Enel
          </h6>
        </div>
        <div ngModelGroup="dadosEnel" class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label for="class">Classe</label>
              <input name="classe" [ngModel] type="text" class="form-control" id="class" placeholder="classe">
            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <label for="end">Endereço</label>
              <input name="endereco" [ngModel] type="text" class="form-control" id="end" placeholder="Endereço">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="uc">UC</label>
              <input name="uc" [ngModel] type="text" class="form-control" id="uc" placeholder="uc">
            </div>
          </div>
        </div>
        <!--/.row-->
      </div>
    </div>
    <div id="buttons">
      <button class="btn btn-primary" type="submit">Adicionar</button>
    </div>
  </div>
</form>