<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="col-10 cardEstacao">
    <div class="card">
      <div class="card-header">
        <h6>Dados da Estação</h6>
      </div>
      <div class="card-body">
        <div>
          <h6 class="modal-title" id="TitleEstacao">
            Estação
          </h6>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="ccmonth">Tipo</label>
            <select formControlName="tipo" class="form-control" id="ccmonth">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Nome</label>
              <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Nome da estação">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="id">Id</label>
              <input formControlName="id" type="text" class="form-control" id="id" placeholder="Id">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div>
          <h6 class="modal-title" id="TitleOperacao">
            Operação 1
          </h6>
        </div>
        <div formGroupName="operador1" class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="name">Nome</label>
              <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Nome da estação">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="fone">Fone</label>
              <input formControlName="fone1" type="text" class="form-control" id="fone" placeholder="fone">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="fone">Fone</label>
              <input formControlName="fone2" type="text" class="form-control" id="fone" placeholder="fone">
            </div>
          </div>
        </div>        
        <!--/.row-->

        <!--/.row-->
        <div>
          <h6 class="modal-title" id="TitleOperacao">
            Operação 2
          </h6>
        </div>
        <div formGroupName="operador2" class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="name">Nome</label>
              <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Nome da estação">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="fone">Fone</label>
              <input formControlName="fone1" type="text" class="form-control" id="fone" placeholder="fone">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="fone">Fone</label>
              <input formControlName="fone2" type="text" class="form-control" id="fone" placeholder="fone">
            </div>
          </div>
        </div>        
        <!--/.row-->

        <div>
          <h6 class="modal-title" id="TitleSupervisor">
            Supervisão
          </h6>
        </div>
        <div formGroupName="supervisor" class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Nome da estação">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="fone">Fone</label>
              <input formControlName="fone1" type="text" class="form-control" id="fone" placeholder="fone">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="fone">Fone</label>
              <input formControlName="fone2" type="text" class="form-control" id="fone" placeholder="fone">
            </div>                       
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="area">Area</label>
              <input formControlName="area" type="text" class="form-control" id="fone" placeholder="fone">
            </div>                       
          </div>
        </div>
        <!--/.row-->
        <div>
          <h6 class="modal-title" id="TitleEnel">
            Enel
          </h6>
        </div>
        <div formGroupName="dadosenel" class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label for="class">Classe</label>
              <input formControlName="classe" type="text" class="form-control" id="class" placeholder="Nome da estação">
            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <label for="end">Endereço</label>
              <input formControlName="endereco" type="text" class="form-control" id="end" placeholder="Endereço">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="uc">UC</label>
              <input formControlName="uc" type="text" class="form-control" id="uc" placeholder="fone">
            </div>
          </div>
        </div>
        <!--/.row-->
      </div>
    </div>
    <div id="buttons">
      <button type="submit" class="btn btn-primary">Adicionar</button>
      <button [routerLink]="['']" class="btn btn-info">Voltar</button>
    </div>
  </div>
</form>