<mat-card class="formulario">
  <mat-card-title class="card-head">Dados da Estação</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <div>
        <h6 class="modal-title" id="TitleEstacao">
          Estação
        </h6>
      </div>

      <section class="container flex">
          <div class="item flex-item-1"><label for="ccmonth">Tipo</label>
            <select formControlName="tipo" class="form-control" id="ccmonth">
              <option [selected]="1" >Selecione</option>
              <option value="EEE">EEE</option>
              <option value="ETE">ETE</option>
            </select></div>
          <div class="item flex-item-1">
            <label for="name">Nome</label>
            <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Nome da estação"></div>
          <div class="item flex-item-1">
            <label for="id">Id</label>
            <input formControlName="id" type="text" class="form-control" id="id" placeholder="Id"></div>
      </section>
      
      <mat-divider></mat-divider>
      <div>
        <h6 class="modal-title" id="TitleOperacao">
          Operador 1
        </h6>
      </div>

      <section class="container flex">
          <div class="item flex-item-1">
            <label for="name">Nome</label>
            <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Nome da estação"></div>
          <div class="item flex-item-1">
            <label for="fone">Fone</label>
            <input formControlName="fone1" type="text" class="form-control" id="fone" placeholder="fone"></div>
          <div class="item flex-item-1">
            <label for="fone">Fone</label>
            <input formControlName="fone2" type="text" class="form-control" id="fone" placeholder="fone"></div>
        </section>

      <mat-divider></mat-divider>

      <div>
        <h6 class="modal-title" id="TitleOperacao">
          Operador 2
        </h6>
      </div>

      <section class="container flex">
          <div class="item flex-item-1">
            <label for="name">Nome</label>
            <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Nome da estação"></div>
          <div class="item flex-item-1">
            <label for="fone">Fone</label>
            <input formControlName="fone1" type="text" class="form-control" id="fone" placeholder="fone"></div>
          <div class="item flex-item-1">
            <label for="fone">Fone</label>
            <input formControlName="fone2" type="text" class="form-control" id="fone" placeholder="fone"></div>
        </section>

      <mat-divider></mat-divider>

      <div>
        <h6 class="modal-title" id="TitleSupervisor">
          Supervisão
        </h6>
      </div>

      <section class="container flex">
        <div class="item flex-item-1">
          <label for="nome">Nome</label>
          <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Nome da estação"></div>
        <div class="item flex-item-1">
            <label for="fone">Fone</label>
            <input formControlName="fone1" type="text" class="form-control" id="fone" placeholder="fone">
        </div>
        <div class="item flex-item-1">
            <label for="fone">Fone</label>
            <input formControlName="fone2" type="text" class="form-control" id="fone" placeholder="fone">
        </div>
        <div class="item flex-item-1">
            <label for="area">Area</label>
            <input formControlName="area" type="text" class="form-control" id="fone" placeholder="fone">
        </div>
      </section>

      <mat-divider></mat-divider>

      <div>
        <h6 class="modal-title" id="TitleEnel">
          Enel
        </h6>
      </div>

      <section class="container flex">
        <div class="item flex-item-1">
            <label for="class">Classe</label>
            <input formControlName="classe" type="text" class="form-control" id="class" placeholder="Nome da estação">
        </div>
        <div class="item flex-item-1">
          <label for="end">Endereço</label>
          <input formControlName="endereco" type="text" class="form-control" id="end" placeholder="Endereço"></div>
        <div class="item flex-item-1">
          <label for="uc">UC</label>
          <input formControlName="uc" type="text" class="form-control" id="uc" placeholder="fone"></div>
      </section>

      <mat-divider></mat-divider>

      <section class="container flex flex-start">
        <div class="item">
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </div>
        <div class="item">
            <button [routerLink]="['']" class="btn btn-info">Voltar</button>
        </div>
      </section>

    </form>
  </mat-card-content>
</mat-card>