<header>
  <div id="header1">
    <p>AGENDA</p>
  </div>
  <div id="header2">
  </div>
  <div id="header3">
  </div>
</header>
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="" [queryParams]="{pagina:1}">Estações</a></li>
      <li class="breadcrumb-item" ><a [routerLink]="['/contatos']">Contatos</a></li>
      <li class="breadcrumb-item" ><a [routerLink]="['/maps']">Maps</a></li>
      <button class="btn btn-light"><a [routerLink]="[ '/addstacao']">adicionar</a></button>
    </ol>    
  </nav>
  <router-outlet></router-outlet>  
  <p>&copy; {{today | date:'short'}} - CECOE </p>
</div>
