<header>
  <div id="header1">
    <p>CECOE</p>
  </div>
  <div id="header2">
  </div>
  <div id="header3">
  </div>
</header>
<div class="container-fluid">
  <nav mat-tab-nav-bar [backgroundColor]="background">
    <a mat-tab-link *ngFor="let link of links"
       [routerLink]="Rotas(link)" [queryParams]="{pagina:1}"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} 
    </a>
  </nav>
  <router-outlet></router-outlet>  
  <p>&copy; {{today | date:'short'}} - CECOE </p>
</div>
