<div class="col-10 cardEstacao" *ngIf="detalhesEstacao">
    <div class="card">
        <div class="card-header">
            <h6>Dados da Estação</h6>
        </div>
        <div class="card-body">
            <div>
                <h6 class="modal-title" id="TitleEstacao">
                    Estação
                </h6>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="ccmonth">Tipo</label>
                    <select [(ngModel)]="detalhesEstacao.tipo" class="form-control" id="ccmonth"
                        [disabled]="enableCampos">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" placeholder="Nome da estação"
                            [(ngModel)]="detalhesEstacao.nome" [disabled]="enableCampos">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="id">Id</label>
                        <input type="text" class="form-control" id="id" placeholder="Id"
                            [(ngModel)]="detalhesEstacao.id" [disabled]="enableCampos">
                    </div>
                </div>
            </div>
            <!--/.row-->
            <div>
                <h6 class="modal-title" id="TitleOperacao">
                    Operação 1
                </h6>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" placeholder="Nome da estação"
                        [(ngModel)]="detalhesEstacao.operador1.nome" [disabled]="enableCampos">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fone">Fone</label>
                        <input type="text" class="form-control" id="fone" placeholder="fone"
                        [(ngModel)]="detalhesEstacao.operador1.fone1" [disabled]="enableCampos">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fone">Fone</label>
                        <input type="text" class="form-control" id="fone" placeholder="fone"
                        [(ngModel)]="detalhesEstacao.operador1.fone2" [disabled]="enableCampos">
                    </div>
                </div>
            </div>
            <!--/.row-->

            <!--/.row-->
            <div>
                <h6 class="modal-title" id="TitleOperacao">
                    Operação 2
                </h6>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" placeholder="Nome da estação"
                        [(ngModel)]="detalhesEstacao.operador2.nome" [disabled]="enableCampos">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fone">Fone</label>
                        <input type="text" class="form-control" id="fone" placeholder="fone"
                        [(ngModel)]="detalhesEstacao.operador2.fone1" [disabled]="enableCampos">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fone">Fone</label>
                        <input type="text" class="form-control" id="fone" placeholder="fone"
                        [(ngModel)]="detalhesEstacao.operador2.fone2" [disabled]="enableCampos">
                    </div>
                </div>
            </div>
            <!--/.row-->

            <div>
                <h6 class="modal-title" id="TitleSupervisor">
                    Supervisão
                </h6>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome da estação"
                        [(ngModel)]="detalhesEstacao.supervisor.nome" [disabled]="enableCampos">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fone">Fone</label>
                        <input type="text" class="form-control" id="fone" placeholder="fone"
                        [(ngModel)]="detalhesEstacao.supervisor.fone1" [disabled]="enableCampos">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fone">Fone</label>
                        <input type="text" class="form-control" id="fone" placeholder="fone"
                        [(ngModel)]="detalhesEstacao.supervisor.fone2" [disabled]="enableCampos">
                    </div>
                </div>
            </div>
            <!--/.row-->
            <div>
                <h6 class="modal-title" id="TitleEnel">
                    Enel
                </h6>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="class">Classe</label>
                        <input type="text" class="form-control" id="class" placeholder="Nome da estação"
                        [(ngModel)]="detalhesEstacao.dadosenel.classe" [disabled]="enableCampos">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="end">Endereço</label>
                        <input type="text" class="form-control" id="end" placeholder="Endereço"
                        [(ngModel)]="detalhesEstacao.dadosenel.endereco" [disabled]="enableCampos">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="uc">UC</label>
                        <input type="text" class="form-control" id="uc" placeholder="fone"
                        [(ngModel)]="detalhesEstacao.dadosenel.uc" [disabled]="enableCampos">
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </div>
    <div id="buttons">
        <button (click)="update(detalhesEstacao)" [disabled]="enableCampos" class="btn btn-primary">Atualizar</button>
        <button (click)="enable()" class="btn btn-success">{{editCancel}}</button>
        <button class="btn btn-danger">Excluir</button>
        <button [routerLink]="['']" class="btn btn-dark">Voltar</button>
    </div>
</div>